<%- include('partials/logged-in-header') -%>

<div class="container card-container">
    <div class="row">
      <h1>TITLE: <%= post.title %></h1><hr class="style1">
      <span> TAG: <%= post.tag%></span><hr class="style1">
      <p>CAPTION: <%= post.caption %></p><hr class="style1">
      <p>BY: <%= user.userName %></p><hr class="style1">
      <div class="col-md-6">
        <img src="<%= post.image%>" class="img-fluid" alt="Responsive image">
        <div class="row row-cols-3">
          <form
            class="col-2"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class=" <%if(post.likes.includes(user.id)){ %> btn-liked <%} %>
            btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h3 class="col"><%= post.likes.length - 1 %></h3>
          <form
            class="col justify-content-end"
            action="/post/favoritePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
          <button class="<%if(post.favorites.includes(user.id)){ %> bi bi-bookmark-fill<%} else { %> bi bi-bookmark <% }%>
            btn btn-primary" type="submit"></button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <h3 class="display-4">INFO</h3> -->
        <h2>SOURCE LINK</h2> <hr class="style1">
        <p><a href="<%= post.source %>"><%= post.source %></a></p>
          <h2>ANKI QUESTION</h2> <hr class="style1">
          <p><%= post.ankiQuestion %></p>
          </ol>
      </div>
    </div>
</div>

<%- include('partials/footer') -%>
